.single {
    width:80%;
    margin: auto;

    
}


.single  .singlehead{
    width:100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    
    
}
.singlehead div{
    width:10%;
    display: flex;
    justify-content: space-between;
}
.singlehead h3{
    width: 90%;
}
.singlecontent {
    width: 100%;
   
    
    
    margin: auto;
    gap:1rem;

}


.singlehead button{
background-color: transparent;
border: none;
font-size: 18px;
width: auto;


}
.singlehead button :hover{
scale: 110%;
cursor: pointer;

}
.singlehead button:first-child:hover{
color: rgb(197, 45, 45);
}
.single .comment{
    display: flex;
    width: 100%;
margin:1rem auto;
gap:1rem;
}
.single .comment button{
color: white;
background-color: black;
border: none;
border-radius: 10px;
}
.single div .commnt{
width: 20%;
display: flex;
margin: 1rem 0;
padding: 1rem;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
gap:10px;
}
.single div .commnt p:first-child{
color:rgb(87, 87, 189);
font-size: 18px;
text-transform: uppercase;
font-weight: 700;
margin-top: 2px;
}

